%YAML 1.1
---

vars:
  address-groups:
    HOME_NET: "[192.168.0.0/16,10.0.0.0/8,172.16.0.0/12]"
    EXTERNAL_NET: "!$HOME_NET"

outputs:
  - eve-log:
      enabled: yes
      filetype: regular
      filename: eve.json
      types:
        - alert:
            payload: yes             # enable dumping payload in Base64
            payload-buffer-size: 4kb # max size of payload buffer to output in eve-log
            payload-printable: yes   # enable dumping payload in printable (lossy) format
            packet: yes              # enable dumping of packet (without stream segments)
            http-body: yes           # enable dumping of http body in Base64
            http-body-printable: yes # enable dumping of http body in printable format
            metadata: yes            # enable inclusion of app layer metadata with alert
            tagged-packets: yes      # enable logging of tagged packets for rules using the 'tag' keyword

        - http:
            extended: yes     # enable this for extended logging information

        - dns:
            query: yes     # enable logging of DNS queries
            answer: yes    # enable logging of DNS answers

        - tls:
            extended: yes     # enable this for extended logging information

        - files:
            force-magic: no   # force logging magic on all logged files

        - smtp:
            extended: yes # enable this for extended logging information

        - ssh

        - stats:
            totals: yes       # stats for all threads merged together
            threads: no       # per thread stats
            deltas: no        # include delta values

        - flow

logging:
  default-log-level: notice
  default-output-filter:

af-packet:
  - interface: eth0
    cluster-id: 99
    cluster-type: cluster_flow
    defrag: yes

app-layer:
  protocols:
    tls:
      enabled: yes
      detection-ports:
        dp: 443

    dcerpc:
      enabled: yes

    ftp:
      enabled: yes

    ssh:
      enabled: yes

    smtp:
      enabled: yes

    imap:
      enabled: yes

    msn:
      enabled: yes

    smb:
      enabled: yes
      detection-ports:
        dp: 139, 445

    dns:
      global-memcap: 16mb

    http:
      enabled: yes

default-rule-path: /var/lib/suricata/rules
rule-files:
  - suricata.rules
