apiVersion: v1
kind: Service
metadata:
  name: ai-service
  namespace: default
  labels:
    app: ai-service
spec:
  ports:
  - port: 8090
    name: http
  selector:
    app: ai-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-service
  namespace: default
spec:
  selector:
    matchLabels:
      app: ai-service
  replicas: 1
  template:
    metadata:
      labels:
        app: ai-service
    spec:
      containers:
      - name: ai-service
        image: ndr/rust-ai-service:latest
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: ndr-config
        env:
        - name: PORT
          value: "8090"
        ports:
        - containerPort: 8090
          name: http
