apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: default
  labels:
    app: auth-service
spec:
  ports:
  - port: 8087
    name: http
  selector:
    app: auth-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: default
spec:
  selector:
    matchLabels:
      app: auth-service
  replicas: 1
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: ndr/rust-auth-service:latest
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: ndr-config
        env:
        - name: PORT
          value: "8087"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: ndr-secrets
              key: jwt-secret
        ports:
        - containerPort: 8087
          name: http
