apiVersion: v1
kind: Service
metadata:
  name: ui
  namespace: default
  labels:
    app: ui
spec:
  ports:
  - port: 80
    name: http
  selector:
    app: ui
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
  namespace: default
spec:
  selector:
    matchLabels:
      app: ui
  replicas: 1
  template:
    metadata:
      labels:
        app: ui
    spec:
      containers:
      - name: ui
        image: ndr/ui:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
          name: http
